extends ./layouts/main-layout 
block content 

  script.
    var profileUserId= '!{profileUser._id}';
    var selectedTab= '!{selectedTab}';
  
  .tabs-container 
    +createTab('Following', `/profile/${profileUser.username}/following`, selectedTab == 'following')
    +createTab('Followers', `/profile/${profileUser.username}/followers`, selectedTab == 'followers')

  .followers-following__container
    .users_container
      .users

block scripts
  script(src="/js/common.js") 
  script(src="/js/follow.js") 
  script(src="/js/followers_following.js") 
  