.sidebarRight_container 
  .search-box
    input#searchUserInput(type='text', data-search=selectedTab, autofocus='',  placeholder='Enter name...')
    button#searchUserButton(disabled)
      i.fas.fa-search


  .sidebarRight_content.topPostLikes
    h4.title Trends for you
    .posts_container
     
  .sidebarRight_content.topUserFollowers
    h4.title Who to follow
    .users_container

