extends ./layouts/main-layout 
block content
  script.
    var post= !{post};
    var replies= !{replies};

  if success.length 
    +alertifySuccess(success)
    
  .posts_container.view-posts__container
    .posts

    +createPostModal()
block scripts
  script(src="/js/common.js") 
  script(src="/js/follow.js")
  script(src="/js/handlePost.js")
  script(src="/js/selectTop.js")
  script(src="/js/viewPost.js")
