nav.navbar.p-0.fixed-top.d-flex.flex-row
  .navbar-menu-wrapper.flex-grow.d-flex.align-items-stretch
    div.nav-link.mt-2.mt-md-0.d-lg-flex.search.w-100
      .d-flex.align-items-center.w-50
        input#searchMain.text-primary.form-control(type='text', autofocus, placeholder='Search user')
