include ../mixins/alert

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/assets/css/login.css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css', rel='stylesheet')
        title SignIn - SignUp
    body 
        .hero
            .form-box
                block content 
                .social-icons
                    a#login-facebook(href='/auth/facebook')
                        i.fab.fa-facebook-f
                    a#login-google(href='/auth/google')
                        i.fab.fa-google-plus-g
        