include ../mixins/mixins
include ../mixins/alert

doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Social network DongA
    //- Short cut icon
    link(rel='shortcut icon', href='/assets/img/shuttle.svg', type='image/x-icon')
    //- Bootstrap v5
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    //- Font: open sans
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
    //- Font awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css', integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==', crossorigin='anonymous', referrerpolicy='no-referrer')
    //- Font Open Sans
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700&display=swap")
    //- Alertify style
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/themes/bootstrap.min.css")
    //- Cropperjs style
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css")
     //- css
    link(rel='stylesheet', href='/assets/css/style.css')
  body 
    script.
      var userLoggedIn = !{userLoggedInJs};


    .container-fluid
      .row.g-0
        //- Sidebar
        .col-1.offset-md-1.col-lg-2.offset-lg-0
          include ../sidebar.pug

        //- Main
        main.col-11.col-md-9.col-lg-7
          .main_container.boder
            div.title_container 
              span #{pageTitle}
              block headerButton
              
            block content
        //- News
        .d-none.col-lg-3.d-lg-block.sidebarRight
          if sidebarChat
            block sidebarChat
          else 
            include ../sidebarRight.pug 
    
    //- script alertify
    script(src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js")
    //- Copper js
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js")
    //- script bootstrap
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
    //- script sweetalert2
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js") 
    //- socket
    script(src="/socket.io/socket.io.js") 
    
    //- script
    script(src="/js/utils/errorResponse.js")
    script(src="/js/mainConfig.js")
    script(src="/js/http.js") 
    script(src="/js/sidebar.js") 
    script(src="/js/sidebarRight.js") 
    script(src="/js/clientSocket.js") 
    block scripts
