extends ../layouts/login-layout
block content 
    .button-box-bottom
        a#btn-back.toggle-btn(href="/auth/login")
            i.fas.fa-chevron-circle-left
            | Back
    h1.title Quên mật khẩu
    
    if success.length > 0
        +alertSuccess(success)

    if errors.length > 0
        each error in errors
            +alertError(error)

    form#forgotPassword.form(class="hideForm", method="POST", action="/auth/forgot_password")
        .input-group(class='')
            label(for='email')
                span.message
            input#emailLogin.input-field(type='text', value="" ,name='email', placeholder='Eg: example@gmail.com')
        button.submit-btn Send
