extends ../layouts/login-layout 
block content 
    a(href="/auth/login").switch
        | Sign In
    h1.title.fz-md.text-dark Tạo mật khẩu mới 
    
    if success.length > 0
        +alertSuccess(success)

    if errors.length > 0
        each error in errors
            +alertError(error)
            
    form#resetPassword.form(method="POST")
        .input-group
            label(for='passwordReset')
                span.message
            input#passwordReset.input-field(type='password', value="" ,name='password', placeholder='Mật khẩu mới...')

        .input-group
            label(for='passwordResetConfirm')
                span.message
            input#passwordResetConfirm.input-field(type='password', value="" ,name='passwordConfirm', placeholder='Nhập lại mật khẩu...')
        button.submit-btn Lưu
